<section id="any-id" >
	<div class="paralax" >
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-9 col-md-12">
					<h2>any test here</h2>
				</div>
				<div class="col-lg-3 col-md-12 mt-lg-0 mt-4">
					<button class="main-btn">Click Here</button>
				</div>
			</div>
		</div>
	</div>
</section>



.paralax{
	width:100%;
	background:url('../../../images/rose.jpeg) no-repeat center;
	background-size: cover;
	backgroud-attachment: fixed;
	background-position: 0 71.9125px;
	padding: 4.375rem 0
	}
